@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-black: #131313;
    --text-white: #FFFFFF;
    --text-primary: #727272;
    --text-secondary: #424242;
    --text-tertiary: #FF900E;

}

body {
    font-family: "Work Sans", sans-serif;
}

.btn-primary {
    background-color: var(--text-tertiary);
    padding: 20px 25px;
    margin-top: 32px;
    border-radius: 8px;
    border: none;
    color: var(--text-white);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.header {
    background-color: #FF900E1A;
}

.navigation {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 63px;
    padding-bottom: 116px;
}

.nav>h3 {
    color: var(--text-black);
    font-size: 34px;
    font-weight: 700;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.nav ul a {
    text-decoration: none;
    color: var(--text-secondary);
    font-size: 18px;
    font-weight: 500;
}


.banner {
    width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: var(--text-black);
    font-size: 64px;
    font-weight: 700;
}

.banner-subtitle {
    color: var(--text-secondary);
    margin-top: 32px;
}

.banner-images {
    margin-top: 50px;
    padding-bottom: 45px;
}
.banner-images img {
    width: 100%;
}

